.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.header_h1 {
  padding: 3px;
  margin: 10px;
  margin-bottom: 10px;
}

#home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sub_container{
  display: flex;

}

.h2_titulo{
  padding: 10px;
  text-align: center;
  color: #333;
}

.btn_titulo{
  background-color: #fff;
  border: #333 1px solid;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 10px;
}

.btn_titulo:hover{
  background-color: #666;
}

.input_perguntas{
  padding: 10px;
  border: #333 solid 1px;
  border-radius: 10px;
  width: 500px;

}

#perguntas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}


.pergunta_holder{
  padding: 10px;
  width: 1500px;
  border: #333 solid 1px;
  border-radius: 10px;
}

.btn_respostas{
  background-color: #fff;
  border: #333 1px solid;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 10px;
  cursor: pointer;
  font-style: none;
}

.btn_respostas:hover{
  background-color: #666;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Conteúdo do popup */
.popup-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 600px; 
  border-radius: 10px; 
}

.close {
  color: #aaa;
  float: right; 
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Seção principal */
main {
  margin-bottom: 30px;
  flex: 1;
}

main section {
  margin-bottom: 40px;
}


article h3 {
  margin-bottom: 5px;
  color: #555;
}

p {
  margin-bottom: 10px;
  color: #666;
}

a{
  text-decoration: none;
  color: black;
}


.container_footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 5px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  nav ul li {
      display: block;
      margin: 5px 0;
      text-align: center;
  }

  main {
      padding: 0 10px;
  }


}

@media (max-width: 576px) {
  body {
      padding: 0 10px;
  }

  header h1 {
      font-size: 24px;
  }

  h2, h3 {
      font-size: 18px;
  }

  p, li {
      font-size: 16px;
  }
}

/*Detalhes css*/

#detalhePergunta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}